html, body {
    height: 100%;
}

body {
    background: #eef1f7;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

#react-container {
    min-height: 100%;
    position: relative;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}